# A pattern matching the name of the Swarm node NGINX should be scheduled to.
export NGINX_NODE_PATTERN=

# Whether or not to use SSL. 0 = no SSL. 1 = yes SSL.
export NGINX_SSL=

# The domain visitors use to access. Used to find/request the right certificates
# from Let's Encrypt.
export NGINX_DOMAIN=

# The password to protect the rethinkdb web console. Leave blank to disable access.
export NGINX_RETHINKDB_PASS=
